@import 'tab-list/header';
@import 'tab-list/toolbar';
@import 'tab-list/tab-filter';
@import 'tab-list/tab';
@import 'tab-list/favicon';
@import 'tab-list/title';
@import 'tab-list/tab-buttons';
@import 'tab-list/tab-move-buttons';
@import 'tab-list/tab-selector';
@import 'tab-list/tab-context-menu';

.ui-small .tab-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;

    .sticky-top {
        flex-shrink: 0;
    }

    .unpinned-tabs {
        flex-grow: 999999;
        overflow-y: scroll;
    }

    .sticky-bottom {
        flex-shrink: 0;
    }

    &.move-mode {
        pointer-events: none;

        .unpinned-tabs {
            pointer-events: all;
        }
    }
}
