// main z-index
$sidenav-zindex: 3;
$tag-assign-zindex: 4;
$tag-edit-zindex: 5;

// header
$header-background-color: #03a9f4;
$header-hover-background-color: darken($header-background-color, 10%);
$header-font-color: white;
$header-icon-size: 24px;
$header-icon-margin-right: 5px;
$header-padding: 8px;
$header-font-size: 14px;

// tab list
$tab-padding: 8px;
$tab-border-left-width: 4px;
$tab-loading-icon-height: 4px;

$tab-background-color: white;
$tab-hover-background-color: #ebebeb;
$tab-title-color: #444;
$tab-title-font-size: 13px;
$tab-url-color: #a2a2a2;
$tab-border-left-color: transparent;
$tab-border-bottom-color: #d0d0d0;
$tab-button-hover-background: silver;
$close-tab-button-color: red;
$selected-tab-background-color: #e1f5fe;
$highlighted-tab-background-color: #fff59d;
$highlighted-tab-font-color: #ef6c00;
$discarded-tab-border-left-color: transparent;
$active-tab-border-left-color: #2196f3;
$active-tab-background-color: $tab-hover-background-color;
$being-moved-tab-border-left-color: #ff9800;
$being-moved-tab-background-color: #ffecb3;
$tab-checkbox-unchecked-color: #5a5a5a;
$tab-checkbox-checked-color: #2196f3;
$tab-move-above-button-background-color: #ff9800;
$tab-move-above-button-hover-background-color: #f57c00;
$tab-move-above-button-font-color: white;

$tab-filter-background-color: #f8f8f8;
$tab-filter-border-bottom-color: #d0d0d0;
$tab-filter-hover-background-color: #edfaff;
$tab-filter-hover-border-bottom-color: #45a5f5;
$tab-filter-icon-color: grey;

$tab-toolbar-background-color: $header-background-color;
$tab-toolbar-font-color: white;
$tab-toolbar-font-hover-background: darken($tab-toolbar-background-color, 10%);
$tab-toolbar-height: 30px;

// tab tag list
$tag-font-size: 14px;
$tag-background-color: white;
$tag-border-left-width: $tab-border-left-width;
$tag-border-left-color: $tab-border-left-color;
$tag-hover-background-color: $tab-hover-background-color;
$tag-separator-color: $tab-border-bottom-color;
$tag-subheader-color: #877f7f;
$tag-label-color: #444;
$tag-default-color: #444;
$active-tag-background-color: $tag-hover-background-color;
$active-tag-border-left-color: $active-tab-border-left-color;
$tag-filter-focus-background-color: #edfaff;
$tag-color-list: (
    (id: 0, color: #444444, border: #444444),
    (id: 1, color: #ff0000, border: #6c0000),
    (id: 2, color: #00ff00, border: #029c02),
    (id: 3, color: #ffa500, border: #cc8400),
    (id: 4, color: #ff00ff, border: #8c008c),
    (id: 5, color: #00ffff, border: #00b4b4),
    (id: 6, color: #ffff00, border: #ffa500),
    (id: 7, color: #6495ed, border: #3f5f99),
    (id: 8, color: #da70d6, border: #873184),
    (id: 9, color: #cd953f, border: #a47732),
);

// tab tag edit
$tag-edit-background-color: white;
$tag-edit-submit-text-color: white;
$tag-edit-submit-background-color: #00c853;
$tag-edit-submit-icon-size: 18px;
$tag-edit-submit-padding: 8px;

// context menu
$context-menu-background-color: white;
$context-menu-font-color: #444;
$context-menu-font-size: 15px;
$context-menu-li-hover-font-color: white;
$context-menu-li-hover-background-color: #5a98e2;
$context-menu-arrow-size: 15px;

// form
$form-input-margin-bottom: 20px;
$form-input-padding-top: 15px;
$form-input-font-size: 14px;
$form-input-font-color: #444;
$form-input-border-bottom-color: #888;
$form-input-invalid-border-bottom-color: red;
$form-input-focus-border-bottom-color: #428ae0;
$form-label-font-size: 12px;
$form-label-color: #888;
$form-label-focus-color: $form-input-focus-border-bottom-color;
$form-label-invalid-color: $form-input-invalid-border-bottom-color;
