.ui-small .tab-list {
    .filter {
        position: relative;

        .search-icon {
            position: absolute;
            bottom: 4px;
            left: 5px;
            color: $filter-icon-color;
            cursor: pointer;

            i {
                font-size: 20px;
            }

            .arrow {
                position: relative;
                left: -4px;
                font-size: 10px;
            }
        }

        input {
            display: block;
            width: 100%;
            height: 35px;
            padding: 5px;
            padding-left: 40px;
            background: $filter-background-color;
            border: none;
            border-bottom: 1px solid $filter-border-bottom-color;
            box-sizing: border-box;
            transition: border-color 0.3s ease, background-color 0.3s ease;

            &:focus {
                background: $filter-hover-background-color;
                border-bottom: 1px solid $filter-hover-border-bottom-color;
            }
        }
    }

    .no-tab-matches-search {
        padding: $tab-padding;
        font-size: $tab-title-font-size;
        color: $tab-title-color;
        text-align: center;

        &.hide {
            display: none;
        }
    }

    .pinned-tabs .no-tab-matches-search {
        display: none;
    }
}
