.ui-small {
    .tab-list {
        .tab {
            .title-container {
                display: inline-block;
                width: 100%;
                vertical-align: top;
                cursor: pointer;

                .title {
                    display: block;
                    font-size: $tab-title-font-size;
                    color: $tab-title-color;
                    white-space: nowrap;
                    transition: color 0.2s ease;
                }

                .url,
                .domain {
                    font-size: 11px;
                    font-style: italic;
                    color: $tab-url-color;
                    white-space: nowrap;
                }
            }

            &.discarded {
                .title-container {
                    opacity: 0.5;

                    .title {
                        font-style: italic;
                    }
                }
            }

            &.highlighted {
                .title {
                    color: $highlighted-tab-font-color;
                }
            }
        }

        &:not(.show-tab-url) {
            .url {
                display: none;
            }
        }

        &:not(.show-tab-domain) {
            .domain {
                display: none;
            }
        }

        &.multiline-tab-title {
            .tab .title-container {
                .title {
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }

        &.multiline-tab-url {
            .tab .title-container {
                .url,
                .domain {
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }

        &,
        &.multiline-tab-title {
            .pinned-tabs .tab {
                .title {
                    word-break: normal;
                    white-space: nowrap;
                }

                .domain,
                .url {
                    display: none;
                }
            }
        }
    }
}
