.ui-small {
    .tab-list {
        .tab {
            .title-container {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;

                .title {
                    display: block;
                    font-size: $tab-title-font-size;
                    color: $tab-title-color;
                    transition: color 0.2s ease;
                }

                .url,
                .domain {
                    font-size: 11px;
                    font-style: italic;
                    color: $tab-url-color;
                }
            }

            &.discarded {
                .title-container {
                    opacity: 0.5;

                    .title {
                        font-style: italic;
                    }
                }
            }

            &.highlighted {
                .title {
                    color: $highlighted-tab-font-color;
                }
            }
        }

        &:not(.show-tab-url) {
            .url {
                display: none;
            }
        }

        &:not(.show-tab-domain) {
            .domain {
                display: none;
            }
        }

        &.multiline-tab-title {
            .title {
                word-break: break-all;
                white-space: normal;
            }
        }

        &.multiline-tab-url {
            .url,
            .domain {
                word-break: break-all;
                white-space: normal;
            }
        }

        .pinned-tabs .tab {
            .title {
                word-break: normal;
                white-space: nowrap;
            }

            .domain,
            .url {
                display: none;
            }
        }
    }
}
