.ui-small .tab-list {
    .toolbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: $toolbar-height;
        background: $toolbar-background-color;

        .general-tab-selector,
        .new-tab-button,
        .selected-tabs-actions-button {
            display: block;
            flex-grow: 1;
        }

        .general-tab-selector {
            margin-left: calc(#{$tab-padding} + #{$tab-border-left-width});

            .checkbox-icon  {
                top: 2px;
                width: 15px;
                height: 15px;

                .unchecked {
                    color: $toolbar-font-color;
                }

                .checked {
                    color: $toolbar-font-color;
                }
            }
        }

        .new-tab-button,
        .selected-tabs-actions-button {
            height: 22px;

            i {
                font-size: 22px;
                color: $toolbar-font-color;
                cursor: pointer;
                border-radius: 22px;
                transition: background-color 0.3s ease, opacity 0.2s ease;

                &:hover {
                    background: $toolbar-font-hover-background;
                }

                &.context-menu-visible {
                    background: $toolbar-font-hover-background;
                }

                &.hide {
                    opacity: 0;
                }
            }
        }

        .new-tab-button {
            text-align: center;
        }

        .selected-tabs-actions-button {
            margin-right: $tab-padding;
            text-align: right;
        }

        .context-menu {
            position: fixed;
            right: calc(#{$tab-padding} - 2px);
            bottom: calc(#{$toolbar-height} + (#{$context-menu-arrow-size} / 2));

            .arrow {
                right: 5px;
            }
        }
    }
}
