.ui-small .tab-list {
    .toolbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: $tab-toolbar-height;
        background: $tab-toolbar-background-color;

        .general-tab-selector,
        .new-tab-button,
        .selected-tabs-actions-button,
        .cancel-tab-move-button {
            display: block;
            flex-grow: 1;
        }

        .general-tab-selector {
            margin-left: calc(#{$tab-padding} + #{$tab-border-left-width});

            .checkbox-icon  {
                top: 2px;
                width: 15px;
                height: 15px;

                .unchecked {
                    color: $tab-toolbar-font-color;
                }

                .checked {
                    color: $tab-toolbar-font-color;
                }
            }
        }

        .new-tab-button,
        .selected-tabs-actions-button,
        .cancel-tab-move-button {
            height: 22px;

            i {
                position: relative;
                z-index: 0;
                font-size: 22px;
                color: $tab-toolbar-font-color;
                cursor: pointer;
                border-radius: 22px;
                transition: background-color 0.3s ease, opacity 0.2s ease;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background: $tab-toolbar-font-hover-background;
                    border-radius: 22px;
                    content: '';
                    opacity: 0;
                    transform: scale(0.2);
                    transition: opacity 0.2s ease, transform 0.2s ease;
                }

                &:hover::before,
                &.context-menu-visible::before {
                    opacity: 1;
                    transform: scale(1);
                }

                &.hide {
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }

        .new-tab-button {
            text-align: center;
        }

        .selected-tabs-actions-button,
        .cancel-tab-move-button {
            margin-right: $tab-padding;
            text-align: right;
        }

        .cancel-tab-move-button {
            display: none;
        }

        .context-menu {
            position: fixed;
            right: calc(#{$tab-padding} - 2px);
            bottom: calc(#{$tab-toolbar-height} + (#{$context-menu-arrow-size} / 2));

            .arrow {
                right: 5px;
            }
        }
    }

    &.move-mode {
        .selected-tabs-actions-button {
            display: none;
        }

        .cancel-tab-move-button {
            display: block;
            pointer-events: all;
        }
    }
}
