.tab-tag-edit {
    .color-selector {
        margin-bottom: $form-input-margin-bottom;
        user-select: none;
        -moz-user-select: none;

        span {
            display: block;
            margin-bottom: 15px;
            font-size: $form-label-font-size;
            color: $form-label-color;
        }

        div {
            display: flex;
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;

            label {
                position: relative;
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 7px;
                margin-bottom: 15px;
                margin-left: 7px;
                text-align: center;
                cursor: pointer;
                background-color: $tag-default-color;
                border: 1px solid $tag-default-color;

                &::after {
                    position: absolute;
                    top: -7px;
                    left: -7px;
                    z-index: -1;
                    display: block;
                    width: 39px;
                    height: 39px;
                    background: #d1d1d1;
                    content: '';
                    opacity: 0;
                    transform: scale(1.8);
                    transition: opacity 0.2s ease, transform 0.2s ease;
                }

                @each $tag-color in $tag-color-list {
                    $id: map-get($tag-color, id);
                    $color: map-get($tag-color, color);
                    $border: map-get($tag-color, border);

                    &.color-#{$id} {
                        background-color: $color;
                        border: 1px solid $border;
                    }
                }
            }

            input:checked + label::after {
                opacity: 1;
                transform: scale(1);
            }

            input {
                display: none;
            }
        }
    }
}
