.sidenav {
    .header {
        flex-shrink: 0;
        padding: $header-padding;
        margin-bottom: 5px;
        font-size: $header-font-size;
        font-weight: bold;
        color: $header-font-color;
        background-color: $header-background-color;

        .close-sidenav-button {
            margin-right: $header-icon-margin-right;
            cursor: pointer;
            user-select: none;
            -moz-user-select: none;

            i {
                position: relative;
                z-index: 0;
                font-size: $header-icon-size;
                vertical-align: middle;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    background: $header-hover-background-color;
                    border-radius: $header-icon-size;
                    content: '';
                    opacity: 0;
                    transform: scale(1.8);
                    transition: opacity 0.2s ease, transform 0.2s ease;
                }

                &:hover::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .title {
            vertical-align: middle;
        }
    }
}
