.sidenav {
    .row.tab-tag {
        .color {
            color: $tag-default-color;

            i {
                color: inherit;
            }
        }

        @each $tag-color in $tag-color-list {
            $id: map-get($tag-color, id);
            $color: map-get($tag-color, color);
            $stroke: map-get($tag-color, border);

            &[data-color='#{$id}'] {
                .color {
                    color: $color;
                    -webkit-text-stroke: 1px $stroke;
                }
            }
        }

        .label {
            vertical-align: middle;
        }
    }
}
