$table-cell-padding: 15px;

table {
    background: white;

    td,
    th {
        padding: $table-cell-padding $table-cell-padding;
    }

    th {
        color: #999;
    }

    tr.filtered {
        display: none;
    }
}
