$selected-row-left-border-width: 8px;

#openedTabList,
#followedTabList {
    display: none;

    thead {
        position: sticky;
        z-index: 2;

        th {
            &:nth-child(1) {
                position: relative;

                a {
                    cursor: pointer;
                }
            }
        }
    }

    tbody {
        td {
            transition: opacity 0.3s ease;

            &:nth-child(1) {
                position: relative;
                border-left: $selected-row-left-border-width solid transparent;
                transition: border-left-color 0.3s ease;
            }
        }

        .selected {
            background-color: $table-striped-color;

            td {
                &:nth-child(1) {
                    border-left-color: #2196f3; // blue
                }
            }
        }

        tr.beingMoved {
            &,
            &:hover {
                background-color: map-get($amber, lighten-4); // amber lighten-5
            }

            td {
                &:nth-child(1) {
                    border-left-color: #ff9800; // orange
                }
            }

            .tabSelector {
                pointer-events: none;
                opacity: 0;
            }

            .beingMovedIndicator {
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &.show {
        display: block;
        animation-duration: 0.6s;
        animation-name: viewShow;
    }

    .generalTabSelector {
        text-align: center;
        transition: opacity 0.3s ease;

        label {
            height: 21px;
            padding-left: 21px;
            vertical-align: middle;
            transform: scale(0.9);
        }
    }

    .tabSelector {
        text-align: center;
        transition: opacity 0.3s ease;

        label {
            height: 21px;
            padding-left: 21px;
            transform: scale(0.9);
        }
    }

    .beingMovedIndicator,
    .moveModeCancel {
        position: absolute;
        top: $table-cell-padding;
        width: calc(100% - #{$table-cell-padding} - #{$table-cell-padding} + #{$selected-row-left-border-width});
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .moveModeCancel {
        top: calc(#{$table-cell-padding} + 5px);
        width: calc(100% - #{$table-cell-padding} - #{$table-cell-padding});
    }

    .title {
        cursor: pointer;
        display: block;
        color: #444;

        img {
            height: 16px;
            margin-right: 8px;
            vertical-align: middle;
        }

        span {
            word-break: break-all;
            vertical-align: middle;
        }

        em {
            position: relative;
            left: 28px;
            display: block;
            font-size: 11px;
            color: #a2a2a2;
            word-break: break-all;
        }
    }

    .indicators {
        position: relative;
        text-align: right;
        white-space: nowrap;

        .badge {
            // sass-lint:disable placeholder-in-extend
            @extend span.badge.new;
            // sass-lint:enable placeholder-in-extend

            display: inline-block;
            float: none;
            margin-left: 8px;
            vertical-align: middle;
            transition: background-color 0.6s ease, opacity 0.6s ease;

            &:after {
                content: none;
            }

            // sass-lint:disable class-name-format
            .material-icons {
                font-size: inherit;
                line-height: inherit;
                vertical-align: middle;
            }
            // sass-lint:enable class-name-format

            span {
                font-weight: 400;
                vertical-align: middle;
            }

            &.on {
                background-color: $primary-color;
            }

            &.off {
                background-color: map-get($grey, lighten-1);
                opacity: 0.7;
            }
        }

        .audibleIndicator {
            height: 22px;
            transition: color 0.6s ease, opacity 0.6s ease;

            i {
                font-size: 22px;
                vertical-align: middle;
            }

            &.on {
                color: $primary-color;
                opacity: 1;
            }

            &.off {
                opacity: 0;
            }
        }

        .incognitoIndicator {
            display: none;
        }

        .moveBelow,
        .moveAboveOthers {
            position: absolute;
            right: $table-cell-padding;
            font-weight: normal;
            text-align: center;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease;

            i {
                vertical-align: middle;
            }
        }
    }

    thead .moveAboveOthers {
        position: relative;
        right: 0;
    }

    .lastAccess {
        width: 1%;
        white-space: nowrap;
    }

    .actions {
        width: 1%;
        font-weight: normal;

        .more {
            padding-right: 8px;
            padding-left: 8px;
            border-radius: 30px;
        }

        .tabRowDropdown {
            // sass-lint:disable class-name-format
            .material-icons {
                width: auto;
                margin: 0 7px 0 0;
                font-size: 16px;
                line-height: 20px;
                vertical-align: middle;
            }
            // sass-lint:enable class-name-format

            li a {
                white-space: nowrap;
            }

            .warning {
                a {
                    color: map-get($orange, darken-2);
                }

                &:hover {
                    background-color: map-get($orange, lighten-4);
                }
            }

            .disabled {
                a {
                    color: silver;
                    cursor: default;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            .transparent {
                display: none;
            }
        }
    }

    thead .more {
        pointer-events: all;
        opacity: 1;
        transition: opacity 0.3s ease;

        &.transparent {
            pointer-events: none;
            opacity: 0;
        }
    }

    &.moveMode {
        tbody .title,
        tbody .lastAccess,
        tbody .more,
        thead .more {
            pointer-events: none;
            cursor: default;
        }

        tbody .more,
        thead .more {
            opacity: 0;
        }

        .generalTabSelector,
        .tabSelector {
            pointer-events: none;
            opacity: 0;
        }

        .moveModeCancel {
            pointer-events: all;
            opacity: 1;
        }

        .title em {
            color: grey;
        }

        .moveBelow,
        .moveAboveOthers {
            pointer-events: all;
            cursor: pointer;
            opacity: 1;
        }

        tbody .indicators {
            .on,
            .off {
                pointer-events: none;
                opacity: 0;
            }
        }
    }

    .noTabRow {
        td {
            text-align: center;
        }

        &.transparent {
            display: none;
        }
    }
}
