#openedTabList,
#followedTabList {
    display: none;

    thead {
        position: sticky;
    }

    &.show {
        display: block;
        animation-duration: 0.6s;
        animation-name: viewShow;
    }

    .title {
        cursor: pointer;

        a {
            display: block;
            color: #444;

            img {
                height: 16px;
                margin-right: 8px;
                vertical-align: middle;
            }

            span {
                vertical-align: middle;
            }
        }
    }

    .indicators {
        text-align: right;
        white-space: nowrap;

        .badge {
            // sass-lint:disable placeholder-in-extend
            @extend span.badge.new;
            // sass-lint:enable placeholder-in-extend

            display: inline-block;
            float: none;
            margin-left: 8px;
            vertical-align: middle;
            transition: background-color 0.6s ease, opacity 0.6s ease;

            &:after {
                content: none;
            }

            // sass-lint:disable class-name-format
            .material-icons {
                font-size: inherit;
                line-height: inherit;
                vertical-align: middle;
            }
            // sass-lint:enable class-name-format

            span {
                font-weight: 400;
                vertical-align: middle;
            }

            &.on {
                background-color: $primary-color;
            }

            &.off {
                background-color: map-get($grey, lighten-1);
                opacity: 0.7;
            }
        }

        .audibleIndicator {
            height: 22px;
            transition: color 0.6s ease, opacity 0.6s ease;

            i {
                font-size: 22px;
                vertical-align: middle;
            }

            &.on {
                color: $primary-color;
                opacity: 1;
            }

            &.off {
                opacity: 0;
            }
        }

        .incognitoIndicator {
            display: none;
        }
    }

    .lastAccess {
        width: 1%;
        white-space: nowrap;
    }

    .actions {
        width: 1%;

        .more {
            padding-right: 10px;
            padding-left: 10px;
        }

        .tabRowDropdown {
            // sass-lint:disable class-name-format
            .material-icons {
                width: auto;
                margin: 0 7px 0 0;
                font-size: 16px;
                line-height: 20px;
                vertical-align: middle;
            }
            // sass-lint:enable class-name-format

            .warning {
                a {
                    color: map-get($orange, darken-2);
                }

                &:hover {
                    background-color: map-get($orange, lighten-4);
                }
            }

            .disabled {
                a {
                    color: silver;
                    cursor: default;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            .transparent {
                display: none;
            }
        }
    }

    .noTabRow {
        td {
            text-align: center;
        }

        &.transparent {
            display: none;
        }
    }
}
