$roboto-font-path: '/ui/fonts/roboto/';
$primary-color: #03a9f4; // light-blue
$table-striped-color: #c8ebfb;
$secondary-color: #42a5f5; // blue lighten-1

@import 'node_modules/materialize-css/sass/materialize';
@import 'materialize';
@import 'material-icons';

body {
    padding-bottom: 20px;
    background: #fafafa;
}

.brand-logo {
    margin-left: 15px;

    span {
        &.transition {
            animation-duration: 0.6s;
            animation-name: breadcrumbFadeIn;
        }
    }
}

#tabFilter {
    label {
        pointer-events: none;
        transform: none;

        i {
            color: white;
        }

        &.active i {
            color: black;
        }
    }

    input {
        width: 13rem;
    }

    &.collapsed {
        label {
            pointer-events: all;
            cursor: pointer;
        }

        input {
            width: 0;
        }

        .resetButton {
            display: none;
        }
    }
}

table {
    background: white;

    td,
    th {
        padding: 15px 15px;
    }

    th {
        color: #999;
    }

    .title {
        a {
            display: block;
            color: #444;
        }

        img {
            height: 16px;
            margin-right: 8px;
            vertical-align: middle;
        }
    }

    .incognitoIndicator,
    .openIndicator,
    .readerModeIndicator {
        text-align: center;

        div {
            position: relative;
            min-height: 24px;
        }

        .off,
        .on {
            position: absolute;
            top: 0;
            left: calc(50% - 12px);
            font-size: 24px;
            opacity: 1;
            transition: opacity 0.3s ease;

            &.transparent {
                opacity: 0;
            }
        }

        .off {
            color: #999;
        }

        .on {
            color: #64dd17;
        }
    }

    .actions {
        text-align: right;

        .transparent {
            display: none;
        }

        .closeButton {
            margin-left: 8px;
        }

        .unfollowButton {
            background-color: #ff9800;

            &:hover {
                background-color: lighten(#ff9800, 5%);
            }
        }
    }

    .noTabRow {
        td {
            text-align: center;
        }

        &.transparent {
            display: none;
        }
    }

    tr.filtered {
        display: none;
    }
}

#openedTabList,
#followedTabList {
    display: none;

    &.show {
        display: block;
        animation-duration: 0.6s;
        animation-name: viewShow;
    }
}

@keyframes viewShow {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes breadcrumbFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
