body {
    font-family: 'sans-serif';
    font-size: 1em;
}

table img {
    height: 16px;
}

table {
    width: 100%;

    tbody tr:nth-child(even) {
        background: silver;
    }

    td {
        padding: 5px;
    }

    .favicon {
        width: 1px;

        img {
            vertical-align: middle;
        }
    }

    .incognitoIndicator,
    .openIndicator,
    .readerModeIndicator,
    .actions {
        text-align: center;
    }

    .actions {
        .transparent {
            display: none;
        }

        .disabled {
            color: grey;
        }
    }

    .title a {
        display: block;
    }

    .noTabRow {
        text-align: center;
        background: #ff9f9f;

        &.transparent {
            display: none;
        }
    }
}
