$roboto-font-path: '/ui/fonts/roboto/';
$primary-color: #03a9f4; // light-blue
$table-striped-color: #c8ebfb;
$secondary-color: #42a5f5; // blue lighten-1

@import 'node_modules/materialize-css/sass/materialize';
@import 'materialize';
@import 'material-icons';
@import 'animations';
@import 'header';
@import 'tables';
@import 'tab-list';

body {
    padding-bottom: 20px;
    background: #fafafa;
}
