@import 'animations';
@import 'material-icons';
@import 'roboto';
@import 'ui-small/variables';
@import 'ui-small/context-menu';
@import 'ui-small/tab-list';
@import 'ui-small/workspace';

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}
